@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-cyrillic_latin_latin-ext-regular.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v29-cyrillic_latin_latin-ext-500.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v29-cyrillic_latin_latin-ext-700.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v29-cyrillic_latin_latin-ext-900.woff2') format('woff2'); 
  }
